.classpath
.project
.settings
.metadata
dependency-reduced-pom.xml
target/
lib/
*.log
*.log.*
*.orig
*.iml
*.ipr
.idea/
*.iws
*~
*.swp

# Generated website files
generated-website/
generated-website-staging/

# TestNG
*/test-output/

# Protobuf generated classes
common/src/main/java/com/yahoo/omid/proto/
