<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{1} %x %m%n"/>
        </layout>
    </appender>

    <appender name="fileAll" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="../omid.log"/>
        <param name="Threshold" value="ERROR"/>
        <param name="MaxBackupIndex" value="15"/>
        <param name="MaxFileSize" value="50MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{1} %x %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="fileAll"/>
    </root>
</log4j:configuration>
